$black-logo: rgb(15, 18, 17);
$dorado-logo:rgb(182,135,64);

$dorado-hero:rgb(145, 105, 46);

$letras: rgb(255, 255, 255, 0.8);

$letrasFooter: rgb(255, 255, 255, 0.6);

$color-vino: rgb(71, 16, 21);
$color-vino-clarete:rgb(126, 40, 47);